#header {
    background-color: #efefef;
}

#shopname {
    font-family: "Milonga", Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

#content {
    overflow: auto;
    background-color: #efefef;
}

#nav {
    background-color: #be1e2d;  
    margin: 1%;
    padding: 0.5em 0;
    text-align: center;
    font-size: 1.3em;
}

#feature {
    margin: 1%;
    background-color: #fbab40;
}

img.salmon{
    float: left;
    width: 250px;
    height: 100px;
    margin-right: 15px;
}

div span {
    font-family: "Flamenco", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.4em;
    color: #755b40;
    padding-top: 20px;
}

#slogan2{
    font-size: 24px;
    font-family: "Milonga", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white ;
}

#copyright {
    margin: 1%;
}

.product1, .product2, .product3 {
    width:31.3%;
    float: left;
    margin: 1%;
    text-align: center;
    background-color: #d86f05;
}

.product3{
    margin-right: 0%;
}

li {
    display: inline;
    padding: 0.5em;  
}

#sale {
    font-family: "Abel", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #dd4c2f;
}

img.tshirt {
    text-align: center;
    height: 140px;
    margin-right: 15px;
    vertical-align: text-top; 
    padding-top: 8px;
    padding-bottom: 3px;
}

img.mug {
    text-align: center;
    height: 140px;
    margin-right: 15px;
    vertical-align: text-top; 
    padding-top: 8px;
    padding-bottom: 3px;
}
    
img.napkins {
    text-align: center;
    height: 140px;
    margin-right: 15px;  
    vertical-align: text-top; 
    padding-top: 8px;
    padding-bottom: 3px;
}

#footer {
    background-color: #efefef;
}

#copyright {
    background-color: #c3996b;
    padding: 0.5em 0;
    color:black;
    font-weight: bold;
}

#feature, .article {
    height: 10em;
    margin-bottom: 1em; 
}

#home {
    text-align: center;
}
/*
#shopname {
    color: #d86f05;
    text-align: center;
}

#salmon-page {
    color: black;
}
#salmon-id {
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 2-px;
  border: 4px double #000;
}

ul {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 1.2em;
    color: black;  
    background-color: #fbab40;
}

li {
    list-style-type:none;
    display: inline;
    margin: 0px 3px;
}

#salmon {
    display: block;
    text-align: center;
}

img {
    width: 200px;
}

#intro-promo {
    display: block;
    text-align: center;
    font-family: "Abel", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #d86f05;;
    font-size: 28px;
}

p#intro{
    background-color: #be1e2d;
    font-family: "Milonga", Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 22%;
    margin-right: 10%;
    width: 800px;
    text-align: center;
    line-height: 1.4em;
    font-size: 24px;
}

#sale {
    font-family: "Milonga", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #fbab40;
}

#products {
    overflow: auto;
}

.product1, .product2, .product3 {
    font-family: "Milonga", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 31.3%;
    float: left;
    margin: 1%;   
    color: #c3996b;;
    font-size:18px;
    font-weight: bold;
} */

#store-form{
    font-family: Helvetica;
    color: #4e3d2a;
    background-color: #fbab40;
    text-align: left;
    margin-left: 32%;
    margin-right: 35%;
}

#add{
    font-weight: bold;
    color: #4e3d2a;
    font-family: Helvetica;
}

#intro {
    color: white;
    background-color: #c3996b;
    line-height: 1.2em;
    font-size: 24px;
    text-align: left;
    margin-left: 34%;
    margin-right: 41%;
    padding: 5px 5px;
    font-family: Helvetica;
}

#cookiestands {
    width: 600px;
    padding: 15px 15px 15px 15px;
    border-spacing: 2px 2px;
    border-style: groove;
    margin-left: 20%;
    letter-spacing: 0.1em;
    background-color: #be1e2d;
    color: white;
    font-family: Helvetica;
}
    tr:first-child {
        background-color: #be1e2d;
        height: 40px;
        text-align: center;
        font-family: Helvetica;
    }

    tr:nth-child(even) {
        background-color: #be1e2d;
        height: 40px;
        text-align: center;
        font-family: Helvetica;
    }

    tr:nth-child(odd) {
        background-color: #be1e2d;
        height: 40px;
        text-align: center;
        font-family: Helvetica;
    }

    tr:last-child {
        background-color: #be1e2d;
        height: 40px;
        text-align: center;
        font-family: Helvetica;
    }